services:
  api:
    build:
      context: ./server
    command: npm run dev
    environment:
      NODE_ENV: development
      PORT: 3000
    ports:
      - '3000:3000'
    volumes:
      - ./server:/usr/src/app
      - /usr/src/app/node_modules

  web:
    build:
      context: ./client
    command: npm run dev -- --host 0.0.0.0 --port 5173
    environment:
      NODE_ENV: development
      VITE_API_URL: http://localhost:3000
    ports:
      - '5173:5173'
    volumes:
      - ./client:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - api
